.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
}

/************************************ Common CSS ***********************/
:root {
    --Primary-color: rgb(230, 83, 60);
    --heading-color: #ffffff;
    --text-color: rgb(139, 139, 139);
}

.btn {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--heading-color);
    background-color: var(--Primary-color);
    border-radius: 2rem;
    border: none;
    transition: background-color 0.4s ease-in-out;
}

.btn:hover,
.btn2:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.btn2 {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--heading-color);
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid var(--heading-color);
    margin-left: 10px;
}

.common-h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.common-h2 {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--heading-color);
}

.common-h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: var(--heading-color);
}

.common-p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

/******************************** Navbar CSS ***************************/
header {
    width: 75%;
    margin: 0 auto;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1rem;
}

.nav-left h3 {
    color: var(--Primary-color);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-right {
    border: 1px solid rgb(150, 133, 133, 0.3);
    border-radius: 2rem;
    padding: 10px 20px;
}

.nav-right ul {
    display: flex;
    list-style: none;
}

.nav-right ul li {
    margin-left: 25px;
}

.nav-right ul li:first-child {
    margin-left: 0;
}

.nav-right ul li a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 18px;
    border: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-right ul li a.active,
.nav-right ul li a:hover {
    background-color: var(--Primary-color);
    border-radius: 2rem;
}

.hamberger {
    display: none;
}

/********************************* Hero Section ****************************/
.hero-part {
    display: flex;
    gap: 5%;
}

.hero-content {
    flex: 50%;
    padding: 1rem;
}

.hero-content h1 {
    font-size: 5rem;
    color: var(--heading-color);
}

.cursive {
    font-family: "Dancing Script", cursive;
    font-weight: 100;
}

.hero-content p {
    margin: 2.5rem 0 2rem 0;
    font-size: 1.1rem;
    font-weight: 100;
    color: var(--text-color);
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 40%;
    position: relative;
    padding: 1rem;
}

.card1 {
    padding: 20px;
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 10px;
    backdrop-filter: blur;
    position: absolute;
    right: 0;
    top: 8rem;
}

.card1 h1 {
    font-size: 2.3rem;
    font-weight: bolder;
    color: var(--heading-color);
}

.card1 h4,
.card2 h4 {
    font-size: 1rem;
    font-weight: 100;
    color: var(--text-color);
}

.card2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 10px;
    backdrop-filter: blur;
    position: absolute;
    left: -1rem;
    bottom: 5.5rem;
}

.card2 h1 {
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--heading-color);
}

.empty {
    width: 35px;
    height: 35px;
    background-color: var(--Primary-color);
    border-radius: 50%;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--heading-color);
    position: absolute;
    left: 0;
    top: 50%;
}

/********************************* Main (Change your habbit part) ******************************/
.change-habbit-part {
    width: 75%;
    margin: 3rem auto;
}

.intro {
    text-align: center;
    padding: 2rem 2rem 3rem;
}

.image-rounded-card {
    display: flex;
    gap: 5px;
    padding: .5rem;
}

.img-card-1,
.img-card-2,
.img-card-3,
.img-card-4 {
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-card-1 img,
.img-card-2 img,
.img-card-3 img,
.img-card-4 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(150, 133, 133, 0.3);
}

.img-card-info {
    text-align: center;
    padding: 10px;
}

/********************************** Run An Extra Part **************************************/
.run-extra {
    background-color: rgb(128, 128, 128, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    width: 75%;
    margin: 5rem auto;
}

.run-extra-container {
    display: flex;
    justify-content: space-between;
}

.run-extra-content {
    flex: 50%;
    padding: 2rem;
}

.run-extra-content p {
    margin-bottom: 2rem;
}

.run-extra-img {
    flex: 50%;
    padding: 1rem;
}

.run-extra-img img {
    width: 100%;
    border-radius: 1rem;
}

/****************************************** Training And Exercise *****************************/
.training-and-exercise {
    width: 75%;
    margin: 5rem auto;
}

.intro-of-training {
    padding: 1rem 1rem 4rem;
}

.training-image-gallery {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "a b b c"
    "d d e f"
    ;
}

.item1{
    grid-area: a;
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4{
    grid-area: d;
}
.item5{
    grid-area: e;
}
.item6{
    grid-area: f;
}

.image-item {
    position: relative;
    overflow: hidden;
}

.bottom-text{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.item1::before {
    background-color: rgba(255, 0, 0, 0.7);
}

.item2::before {
    background-color: rgba(0, 255, 0, 0.7);
}

.item3::before {
    background-color: rgba(0, 0, 255, 0.7);
}

.item4::before {
    background-color: rgba(255, 165, 0, 0.7);
}

.item5::before {
    background-color: rgba(128, 0, 128, 0.7);
}

.item6::before {
    background-color: rgba(0, 255, 255, 0.5);
}

/****************************************** BMI Calculator *****************************/
.bmi-calculator {
    margin: 5rem 0;
}

.bmi-calculator-intro {
    width: 75%;
    margin: 5rem auto;
}

.bmi-calculator-container {
    background-color: rgb(128, 128, 128, 0.2);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

table,
th,
td {
    border: 1px solid rgb(150, 133, 133, 0.3);
    border-collapse: collapse;
    padding: .9rem;
}

.input-field {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    grid-template-areas:
        "h w"
        "a s"
        "f f"
    ;
}

.height-field {
    grid-area: h;
}

.weight-field {
    grid-area: w;
}

.age-field {
    grid-area: a;
}

.sex {
    grid-area: s;
}

.select-activity-factor {
    grid-area: f;
}

select,
input {
    padding: .7rem;
    border-radius: 10px;
    color: var(--text-color);
    background-color: rgb(55, 55, 55);
    border: none;
    font-size: 1rem;
}

/****************************************** entry Fee *****************************/
.entry-fee {
    width: 75%;
    margin: 5rem auto;
}

.entry-fee-intro {
    padding: 1.5rem;
}

.fee-card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 1.5rem;
}

.fee-card {
    width: 300px;
    padding: 4rem 3rem;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fee-card-info {
    text-align: center;
    margin-bottom: 1rem;
}

.entry-list {
    list-style: none;
}

.entry-list li {
    margin-bottom: 1rem;
}

.entry-hr {
    border: 1px solid rgb(150, 133, 133, 0.3);
}

/****************************************** Meet Our Team *****************************/
.meet-our-team {
    width: 75%;
    margin: 5rem auto;
}

.meet-our-team-intro {
    text-align: center;
    padding: 2rem;
}

.meet-image-gallery {
    background-color: rgba(25, 25, 25);
    padding: 1.5rem;
    border-radius: 10px;
}

.meet-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.meet-img {
    position: relative;
}

.meet-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 10px;
}

.meet-img-info {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

/****************************************** Footer *****************************/
.footer {
    background-color: rgba(25, 25, 25);
}

.footer-container {
    width: 75%;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.get-started-menu {
    list-style: none;
}

.get-started-menu li {
    margin-bottom: 1rem;
}

.footer-hr {
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgb(150, 133, 133, 0.3);
}

.footer-h1 {
    font-style: italic;
    color: var(--Primary-color);
}

.footer-p {
    text-align: center;
    padding: 2rem;
}

/****************************************** Mobile Responsive *****************************/
@media screen and (max-width: 576px) {
    .common-h1 {
        font-size: 2.3rem;
        font-weight: 600;
    }

    header {
        width: 85%;
    }

    .hamberger {
        display: block;
        color: var(--heading-color);
        font-size: 2rem;
    }

    .nav-right {
        display: none;
    }

    .hero-part {
        flex-direction: column;
    }

    .hero-content {
        padding: 0;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .flex-btn {
        display: flex;
        justify-content: space-around;
    }

    .btn,
    .btn2 {
        font-size: .9rem;
        font-weight: 300;
    }

    .card2 {
        left: 0;
    }

    .arrow {
        display: none;
    }

    .image-rounded-card {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        padding: 1rem;
    }

    .run-extra-container {
        display: flex;
        flex-direction: column;
    }

    .run {
        width: 100%;
    }

    .br {
        display: none;
    }

   .training-image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    ;
    
   }

    .bmi-calculator-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2.5rem 1.2rem;
    }

    select,
    input {
        font-size: .5rem;
    }

    .fee-card-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .meet-image-container {
        display: grid;
        grid-template-columns: auto;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}